//Menu button
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeout;
    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #fff;
        @include easeout;
    }
    //rotar icono, y movimiento de lineas
    &.close {
        transform: rotate(180deg);
        .btn-line {
            //seudo selector nth-child, para seleccionar cada uno
            //line 1 - rotate
            &:nth-child(1) {
                //translate and transform
                transform: rotate(45deg) translate(5px, 5px);
                background: $secondary-color;
            }
            //line 2- hide
            &:nth-child(2) {
                //translate and transform
                opacity: 0;
            }
            //line 3 - rotate
            &:nth-child(3) {
                //translate and transform
                transform: rotate(-45deg) translate(7px, -6px);
                background: $secondary-color;
            }
        }
    }
}